 
.style{
  color: gold;
}
.single-review{
margin: 1.5rem;
padding: 1rem;
background-color: #fff;
height: 14rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media(max-width:900px){
  .single-review{
    height: 18rem;
  }
}
 