 
.style{
  color: gold;
}
.single-review{
margin: 1.5rem;
padding: 1rem;
background-color: #fff;
height: 14rem;
box-shadow: rgb(231, 138, 138) 0px 5px 7px;
}
@media(max-width:900px){
  .single-review{
    height: 18rem;
  }
}
 