 
.details-div{
 background-color:rgb(237, 241, 243);
 line-height: 1.2rem;
}
.image-div{
margin:0.5rem 0;    
}
.shop-head{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    padding: 1rem 0;
}
 