.banner {
    background-image: url('https://cdn.shopify.com/s/files/1/0119/4632/8123/files/slideshow_2.jpg?v=1631622707') ;
    height: 500px;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: cover;
    object-fit: cover;
   
  }
   .lovely{
       color: rgb(13, 217, 217);
   }
   .banner-info{
       padding-top: 17rem;
   }