.banner {
    background-image: url('https://as2.ftcdn.net/v2/jpg/00/95/29/43/500_F_95294341_Q2zBuRIoNc9cA5wYVqXXQxW7WRHYnHN3.jpg') ;
    height: 500px;
     width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .color{
      color: rgb(233, 80, 53);
  }