.links-part{
    background-color: rgb(205, 235, 209);
    height: 400px;
    border-radius: 15px; 
    margin-top: 5px;
}
.links-part a {
     font-size: large;
     font-weight: bold;
}

.dash-home{
background-image: url('https://images.unsplash.com/photo-1517026575980-3e1e2dedeab4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGRhc2hib2FyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
min-height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: overlay;
 

}