.links-part{
border-right: 2px solid whitesmoke;
min-height: 100vh;
overflow:hidden;

}
.links-part a {
display: flex;
flex-direction: column;
text-decoration: none;
font-size: 22px;
color: gray;
margin-top: 0.5rem;
font-weight: 700;
border-bottom: 2px solid whitesmoke;
}
.dash-home{
  display: grid;
  grid-template-columns: auto auto;
}

@media (max-width:900px){
    .dash-home{         
     grid-template-columns: auto;      
    }
}
    

.dash-home div{
margin: 2rem;
padding: 3rem;
background-color: rgb(37, 216, 147);
color: white;
border-radius: 5px;
font-size: 20px;
font-weight: 900; 
}

 