.links-part{
border-right: 2px solid whitesmoke;
min-height: 100vh;
overflow:hidden;

}
.links-part a {
display: flex;
justify-content: flex-start;
align-items: center;
margin-left: 10px;
text-decoration: none;
font-size: 18px;
color: gray;
margin-top: 0.5rem;
font-weight: 700;
border-bottom: 2px solid whitesmoke;
}
.dash-home{
  display: grid;
  grid-template-columns: auto auto;
}

@media (max-width:900px){
    .dash-home{         
     grid-template-columns: auto;      
    }
}
    

.dash-home div{
margin: 2rem;
padding: 3rem;
background-color: rgb(37, 216, 147);
color: white;
border-radius: 5px;
font-size: 20px;
font-weight: 900; 
}
.icon-style{
padding: 5px;
background-color: white;
color:blueviolet;
margin-right: 10px;
box-shadow: 1px 3px 3px black;
}

 